# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

app/sound/rust-synth/build/*
app/sound/rust-synth/target/*
app/sound/rust-sample-processor/build/*
app/sound/rust-sample-processor/target/*